.input-Field {
    background-color: #ffffff !important;
    color: black !important;
    border-radius: 20px;
    /*padding: 20px !important;*/
    margin: 10px !important;
    width: 450px;
;
}

#outlined-basic:hover {
    opacity: 0.9!important;
}
